.input-field .prefix.active {
  color: #61cf88;
}
.md-trigger {
  color: #61cf88;
}
.titlu {
  text-align: center;
  padding-top: 25px;
}
b {
  color: #04849d;
}
.form-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 2rem;
}

#submit {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-color: #04849d;
}

#submit:hover {
  background-color: #1d545f;
}

#submit:active {
  background-color: #04849d;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2c2e2e;
}

.select-dropdown.dropdown-trigger {
  color: #9e9e9e;
}

@media only screen and (max-width: 600px) {
  .row .col.s6 {
    width: 100%;
  }
  .form-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
