:root {
  --gradient-color: transparent;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
}
.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamPicture {
  max-width: 100%;
  height: 500px;
  width: 800px;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 14px;
  margin-right: 14px;
  border-radius: 5px;
}
.page-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #09829b;
  background-color: white;
  width: 90%;
}
.teamContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #09829b;

  background-color: white;

  width: 90%;

  border-bottom: solid rgba(9, 130, 155, 0.9) 2px;
  border-radius: 25px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.grid-container-coordonatoare {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}

.grid-container-lead {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.grid-container-membri {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10rem;
  gap: 2rem;
  text-align: center;
  justify-items: center;
  width: 100%;
}

.grid-item {
  width: 20rem;
}

/* Animatie hover */
.member-card{
  --c: rgba(9, 130, 155, 1);
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 18em;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow:hidden;
  z-index: 2;
  transition: 0.5s;
  margin: 1em;
}
.member-card span {
  position: absolute;
  width: 22%;
  height: 81%;
  background-color: var(--c);
  transform: translateY(140%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.member-card:hover {
  color: white;
}

.member-card:hover span {
  transform: translateY(0) scale(2);
}

.member-card span:nth-child(1) {
  --n: 1;
}

.member-card span:nth-child(2) {
  --n: 2;
}

.member-card span:nth-child(3) {
  --n: 3;
}

.member-card span:nth-child(4) {
  --n: 4;
}

/* sfarsit animatie hover */

.sidebar {
  position: fixed;
  transition: left 600ms ease;
  top: 30%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  height: 60%;
  width: 8rem;

  z-index: 10;
}

.sidebar-meniu
{
position: fixed;
width: 7.5rem;
height: 7.5rem;
top: 15%;
z-index: 10;
left: 0; 
margin: 1.3rem;
display: flex;
justify-content: left;
}

.sidebar-a {
  position: relative;
  width: 70%;
  aspect-ratio: 1;


  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-button {
  position: relative;
  width: 80%;
  aspect-ratio: 1;

  border-radius: 100%;
  border: solid rgba(9, 130, 155, 0.9) 1px;
  background-color: snow;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 20px;

  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  -webkit-box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  -moz-box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.sidebar-button:before {
  background: radial-gradient(
    circle at center,
    transparent 0,
    rgba(9, 130, 155, 0.9) 100%
  );
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.sidebar-button:hover:before {
  transition: opacity 600ms ease;
  opacity: 100%;
}

.member-card.btn {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .grid-container-coordonatoare {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar {
    position: fixed;

    width: 100vw;
    height: 10%;
    top: 90%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    background-color: rgba(9, 130, 155, 0.6);
    border-top: solid rgba(9, 130, 155, 1) 2px;
  }

  .sidebar-a {
    width: 15%;
    aspect-ratio: 1;
    flex-direction: row;
  }

  .sidebar-button {
    width: 100%;

    border-radius: 100%;
    border: solid rgba(9, 130, 155, 0.9) 1px;
    background-color: snow;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 17px;
  }
  .border-image {
    height: initial;
    width: initial;
  }

  .teamPicture{
    height: 220px;
    width: 360px;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar-meniu{
    display: none;
  }
  
  .border-image{
    pointer-events: none;
  }

  .member-card {
    width: 15rem;
    pointer-events: none;
  }
  .member-card.btn {
    width: 50px;
    height: 10px;
  }
  
  .member-card:before {
    display:none;
  }
  
  .member-card:hover {
    display:none;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .border-image {
    height: initial;
    width: initial;
  }
  
  .teamPicture{
    height: 220px;
    width: 360px;
  }
}

.border-image {
  background-image: url(../imagini/echipa/Fundal\ Poză\ Echipă.png);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: 1s ease;
}

.border-image:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}