* {
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.articol-container {
  width: 50%;
  margin: 0 auto;
  padding: 60px 0;
}

.article-title {
  text-align: center;
  font-size: 2.5em;
  width: 80%;
  margin: 40px auto 60px;
}

.articol-container p {
  text-align: justify;
  line-height: 155%;
  text-indent: 30px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.image-box {
  text-align: center;
}

.article-image {
  width: 45%;
  margin: 0 auto;
  display: inline;
}

.semnatura p {
  text-align: center;
  margin-bottom: 1px;
  font-size: 20px;
  line-height: 120%;
}

.semnaturaDreapta p {
  text-align: right;
}

.author-image {
  border-radius: 50%;
  border-color: #000000;
  height: 200px;
  width: 200px;
}

.author-box {
  text-align: right;
}


@media screen and (max-width: 768px) {
  .sisc {
    margin-right: 0vw;
  }

  .academia-icon {
    margin-right: 0vw;
  }

  .articol-container {
    width: 75%;
  }

  .article-image {
    width: 75%;
  }

  .article-title {
    font-size: 2.5rem;
  }
}

/* navbar */

.container {
  color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container .card {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  background: #6abec5;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.container .card .face.face1 p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 {
  background: #111;
  transition: 0.5s;
}

.container .card:hover .face.face2 {
  height: 60px;
}

.container .card .face.face2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.container .card .face.face2 p {
  margin: 0;
  padding: 0;
  font: 35px;
  color: #fff;
  transition: 0.5s;
  text-align: center;
}

.container .card:nth-child(1) .face.face2 {
  background: linear-gradient(45deg, #00b1b2, #1d545f);
}

.container .card:nth-child(2) .face.face2 {
  background: linear-gradient(45deg, #00b1b2, #1d545f);
}

.container .card:nth-child(3) .face.face2 {
  background: linear-gradient(45deg, #00b1b2, #1d545f);
}

.container .card:nth-child(4) .face.face2 {
  background: linear-gradient(45deg, #00b1b2, #1d545f);
}

.container .card:hover .face.face2 p {
  font-size: 12px;
}

@media only screen and(max-width:600px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container .card .face {
    text-align: center;
    font-size: 18pt;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #292929;
}

.divArticole {
  padding: 0 !important;
  gap: 80% !important;
}

.imgz {
  height: 280px;
  width: 280px;
}

.title-carduri.articoleTextAlfa {
  padding-bottom: 4rem !important;
}