      body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;    
        background: rgb(29,84,95);
        background: linear-gradient(0deg, rgba(28,159,172,1) 0%, rgba(106,190,197,1) 50%);
        font-family: "Poppins", sans-serif;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      .row {
        display: flex;
        flex-direction: row;
      }

      a,
      button {
        box-shadow: 15px 20px 15px -3px rgba(0,0,0,0.1);
        border-radius: 15px;
        border-style: solid;
        border-width: 0.3vh;
        font-size: 25px;
        text-decoration: none;
        background-color: #09829b;
        padding: 1rem;
        width: 20rem;
        text-align: center;
        margin: 1rem;
        color: white;
        border-color: #1d545f;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

     .eveniment:hover {
      transform: scale(1.1);
      box-shadow: 20px 25px 15px -3px rgba(0, 0, 0, 0.197);
      }
      .evenimentSVG:hover{
        transform: scale(1.1);
        box-shadow: 20px 25px 15px -3px rgba(0, 0, 0, 0.197);
      }
      img {
        width: 30px;
      }
