body {
  background-image: linear-gradient(
      to bottom,
      rgba(238, 159, 12, 0.6),
      rgba(109, 77, 3, 0.6)
    ),
    url("../../imagini/formulare/baschet.png");
  background-repeat: repeat;
  background-size: 10%;
}
