.input-field .prefix.active {
  color: #61cf88;
}
.md-trigger {
  color: #61cf88;
}
.titlu {
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 2rem;
}

b {
  color: #c8d469;
}

.form-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  background-color: rgba(105, 86, 6, 0.641);
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 2rem;
  border-radius: 20px;
  color: white;
}

#submit {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-color: #979900;
}

#submit:hover {
  background-color: #1d545f;
}

#submit:active {
  background-color: #04849d;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2c2e2e;
}

.select-dropdown.dropdown-trigger {
  color: #7c7a7a;
}

.input-field > label {
  color: #7c7a7a;
}

.regulament-text {
  color: #7c7a7a;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
  color: white;
}

.select-wrapper input.select-dropdown,
[type="checkbox"] + span:not(.lever) {
  color: white;
}

@media only screen and (max-width: 600px) {
  .row .col.s6 {
    width: 100%;
  }
  .form-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-control {
  color: white !important;
}
