* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url("../../imagini/formulare/Fundal-gaming.png") repeat;
  background-size: cover;
}

/* NAVBAR */
.container {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    rgba(4, 150, 157, 1) 0%,
    rgba(4, 145, 165, 1) 50%,
    rgba(4, 132, 157, 1) 100%
  );
}
.nav {
  max-width: 1450px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-wrapper img {
  width: 150px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}
.nav-link {
  margin-top: 3px;
  text-decoration: none;
  color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.3rem;
  font-size: 1.2rem;

  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  border-bottom: 3px solid rgb(221, 221, 221);
}
.nav-link.active:hover {
  border-color: white;
}

.nav .right .hamburger-menu {
  display: none;
}
.nav-list .close-menu {
  display: none;
}

@media screen and (max-width: 1110px) {
  .nav-list {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(4, 149, 157, 1) 0%,
      rgba(4, 146, 165, 1) 50%,
      rgba(4, 132, 157, 1) 100%
    );
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .nav-list.active {
    left: 0;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .nav .right .hamburger-menu {
    display: block;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    z-index: 4;
    cursor: pointer;
  }
  .nav-list .close-menu {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .nav-list.active .close-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .nav-link {
    margin-top: 3px;
    color: white;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
/* NAVBAR END */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #008fac;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03768d;
}

/* END SCROLLBAR */

html body footer {
  font-size: 11px;
  text-align: center;
}

/*BUTOANE GAMING*/

.butoane-gaming {
  margin-top: 30vh;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 7vw;
}

.img-gaming {
  width: 110%;
  height: auto;
}
.gaming {
  display: flex;
  align-content: center;
  height: 20vh;
  width: 15vw;
  background-color: #00b1b2;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
}
.gaming:hover {
  transform: scale(1.2);
  box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
}
@media screen and (max-width: 800px) {
  .butoane-gaming {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 4vh;
  }
  .img-gaming {
    width: 30vh;
    height: auto;
  }
  .gaming {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20vh;
    width: max-content;
    background-color: #00b1b2;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  }
}
/* END BUTOANE GAMING*/

/*FOOTER*/

footer {
  width: 100%;
  height: 13.5vh;
  background: rgb(0, 144, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 144, 150, 1) 0%,
    rgba(0, 119, 138, 1) 49%,
    rgba(0, 86, 103, 1) 100%
  );

  position: absolute;
  bottom: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}



.logosisc {
  width: 5.5rem;
  height: auto;
}

.logoaca {
  display: flex;
  align-items: center;
  width: 9rem;
  height: auto;
}

.social {
  display: flex;
}

@media screen and (max-width: 800px) {
  .logosisc {
    height: 3rem;
    width: auto;
  }
  .logoaca {
    height: 3rem;
    width: auto;
  }
  .instaaca,
  .fbaca {
    height: 2rem;
    width: auto;
  }
  .social {
    display: flex;
  }
}
/* END FOOTER */
