.input-field .prefix.active {
  color: #61cf88;
}
.md-trigger {
  color: #61cf88;
}
.titlu {
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 3rem;
}
b {
  color: #ce1cff;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
  font-size: 1.5rem;
}
.input-field.col label {
  left: 0.75rem;
  top: -1rem;
}

.prefix ~ .select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
  bottom: 1.5rem;
}

#icon-dropdown {
  top: -1rem;
}

.form-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  background-color: rgba(38, 10, 63, 0.686);
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 2rem;
  border-radius: 20px;
  color: rgb(230, 230, 230);
}

#submit {
  margin-right: auto;
  margin-left: auto;
  background-color: #04849d;
  border-radius: 0;
  text-decoration: none;
  display: block;
  color: #fff;
  background-color: #7e39af;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
}

#submit:hover {
  background-color: #4f0886;
}

#submit:active {
  background-color: #33005f;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2c2e2e;
  box-shadow: 0 1px 0 0 #484a4a;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2c2e2e;
}

.select-dropdown.dropdown-trigger {
  color: #9e9e9e;
  font-weight: bold;
}

body {
  background-color: #cecece !important;
  margin: 20px !important;
}

* {
  transition: all 0.2s ease;
}

.extra-info {
  display: none;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 50px;
}

.info:hover .extra-info {
  display: block;
}

.info {
  font-size: 20px;
  padding-left: 5px;
  width: 20px;
  border-radius: 15px;
}

.info:hover {
  background-color: white;
  padding: 0 0 0 5px;
  width: 315px;
  text-align: left !important;
}

.nume-rezerva1 {
  display: flex;
  justify-content: space-between;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
  color: rgb(230, 230, 230);
}

.select-wrapper input.select-dropdown {
  color: rgb(230, 230, 230);
}

[type="checkbox"] + span:not(.lever) {
  color: rgb(230, 230, 230);
}

@media only screen and (max-width: 600px) {
  .row .col.s6 {
    width: 100%;
  }
  .form-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-control {
  color: white !important;
}
