body {
  background-image: linear-gradient(
      to bottom,
      rgba(252, 168, 255, 0.397),
      rgba(218, 116, 255, 0.432),
      rgba(73, 1, 136, 0.448)
    ),
    url(../../../imagini/formulare/gaming.png);
  background-repeat: repeat;
  background-size: 10%;
}
