.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
  }
  .gallery:hover .gallery__image {
    filter: sepia(100%) hue-rotate(140deg) saturate(150%) brightness(80%) ;
  }
  .gallery__column {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .gallery__link {
    margin: 2px;
    overflow: hidden;
  }
  .gallery__link:hover .gallery__image {
    filter: grayscale(0);
  }
  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .gallery__image:hover {
    transform: scale(1.1);
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }
@media screen and (max-width: 800px) {
  .gallery__column{
      display:contents;
  }
  .gallery{
    display: contents;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery__column {
    display:contents;
  }
  .gallery{
    display: contents;
  }

}
