* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgba(131, 236, 219, 0.822);
  background-size: cover;
}

.container {
  width: 90%;
  margin: 3em auto;
}

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.5px solid #ffffff;
}

.table__header {
  background-color: #ffffff9d;
}

.table__header,
.table__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header__element,
.table__option__element {
  padding: 1em;
  border-left: 0.5px solid #ffffff;

  width: 33%;
  height: 10%;

  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.table__header__element {
  font-size: 20px;
}
.table__option {
  backdrop-filter: blur(5px);
}

.table__option__element {
  font-weight: 400;
}

.table__option:nth-child(2n) {
  background-color: #556d9d5d;
}

.table__option:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.15);
}

.table__option:hover {
  background-color: #ffffff3b;
}
