* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* ---- particles.js container ---- */

/* TITLES */

/* page title */
.title-carduri {
  /* text-align: center;
    font-family: 'Raleway', sans-serif; */
  font-size: 36px;
  -webkit-background-clip: text;
  color: #008cba;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
.title-carduri.outer {
  padding-top: 2rem;
}

/* END TITLES */

/* NAVBAR */
.container {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    rgba(4, 150, 157, 1) 0%,
    rgba(4, 145, 165, 1) 50%,
    rgba(4, 132, 157, 1) 100%
  );
}
.nav {
  max-width: 1450px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-wrapper img {
    width: 150px;
    margin-top:1rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}
.nav-link {
  margin-top: 3px;
  text-decoration: none;
  color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.3rem;
  font-size: 1.2rem;

  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  border-bottom: 3px solid rgb(221, 221, 221);
}
.nav-link.active:hover {
  border-color: white;
}

.nav .right .hamburger-menu {
  display: none;
}
.nav-list .close-menu {
  display: none;
}

@media screen and (max-width: 1110px) {
  .nav-list {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(4, 149, 157, 1) 0%,
      rgba(4, 146, 165, 1) 50%,
      rgba(4, 132, 157, 1) 100%
    );
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .nav-list.active {
    left: 0;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .nav .right .hamburger-menu {
    display: block;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    z-index: 4;
    cursor: pointer;
  }
  .nav-list .close-menu {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .nav-list.active .close-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .nav-link {
    margin-top: 3px;
    color: white;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
/* NAVBAR END */

/* VIDEO*/

#myVideo {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  video {
    -webkit-filter: brightness(108.5%);
  }
}

@media only screen and (max-width: 600px) {
  .logo-header {
    width: 80%;
    position: relative;
    left: 13%;
    top: 16%;
  }
  .cat {
    position: relative;
    left: 115% !important;
  }
  #myVideo {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    pointer-events: none;
  }
  .video {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30vh;
    margin-top: 0;
    background-color: white;
    pointer-events: none;
  }
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* VIDEO END*/

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #008fac;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03768d;
}

/* END SCROLLBAR */
#modala {
  display: none;
}
.modala-donatii {
  margin: 5vh;
  padding: 1vw;
  width: 40vw;
  height: 35vh;
  box-shadow: 0px 15px 20px rgba(4, 132, 157, 0.25);
  border-radius: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}
.modal-bot {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.close {
  color: #00b1b2;
  font-size: 2.5rem;
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

.revolut-link {
  cursor: pointer;
  margin-top: 1%;
  text-decoration: none;
  border: none;
  padding: 2vh 2vw;
  font-size: 1.3rem;
  border-radius: 50px;
  color: white;
  background: linear-gradient(
    132deg,
    rgba(0, 177, 178, 1) 22%,
    rgba(0, 140, 186, 1) 75%
  );
  width: max-content;
}
.revolut-link:hover {
  box-shadow: 0px 15px 20px rgba(4, 132, 157, 0.25);
  transform: scale(1.1);
}
.iban {
  margin-top: 1%;
  padding: 2vh 1vw;
  font-size: 1.3rem;
  border-radius: 50px;
  color: white;
  background: linear-gradient(
    132deg,
    rgba(0, 177, 178, 1) 22%,
    rgba(0, 140, 186, 1) 75%
  );
  width: max-content;
}

/* IMPLEMENTARE TESTIMONIAL 2022 */
.container-test {
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
html body {
  color: #202046;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 280px 72px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body .container-testimonial {
  width: 100%;
  padding: 16px;
}

html body .container-testimonial .slide {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
html body .container-testimonial .slide .testimonial blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 36px;
}
html body .container-testimonial .slide .slider-img {
  width: 100%;
  padding: 30px;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

html body .container-testimonial .slide .slider-img img {
  width: 240px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 16px 40px 0px rgba(135, 105, 210, 0.4);
}
html body footer {
  font-size: 11px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  html body .particle-js {
    max-width: 800px;
  }
}
@media screen and (min-width: 900px) {
  html body .container-testimonial {
    width: 100%;
    max-width: 1354px;
    padding: 64px 64px 64px 0;
  }
  html body .container-testimonial .slide {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  html body .container-testimonial .slide .testimonial {
    padding: 32px 0 0 0;
    background-size: 80px;
    background-position: 19% -7%;
    transform: translateX(100px);
  }
  html body .container-testimonial .slide .testimonial blockquote {
    font-size: 19px;
    line-height: 24px;
  }
  html body .container-testimonial .slide .testimonial .author span {
    display: contents;
  }
  html body .container-testimonial .slide .slider-img {
    padding: 55px;
  }
  html body .container-testimonial .slide .slider-img img {
    width: 400px;
  }
}

blockquote {
  margin-right: 4.3rem;
  text-align: justify;
  text-indent: 9%;
}
html body .container-testimonial .slide .slider-img {
  margin-right: 10%;
}
/* IMPLEMENTARE TESTIMONIAL 2022 END*/

/* IMPLEMENTARE ARTICOLE HOMEPAGE 2022 */
.imgz {
  width: 12rem;
  height: auto;
  margin-left: 2rem;
  grid-area: 2 / 1 / 3 / 3;
  z-index: 1;
  transition: transform 330ms ease-in-out;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}
.btnArticol:hover > .articole-nume {
  background-color: #008fac;
  color: #b5e7eb;
}
.btnArticol:hover > .imgz {
  transform: translate(10.5rem);
  transition: transform 330ms ease-in-out;
}

.btnArticol:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
}

.btnArticol {
  border: none;
  text-decoration: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 1fr);
  height: 20rem;
  width: 30rem;
  transition: transform 200ms ease-in-out;
}

.articole-nume {
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 0;
  grid-area: 1 / 2 / 4 / 4;
  background-color: #b5e7eb;
  color: #03768d;
  cursor: pointer;
}

.articole-nume:hover,
.articole-nume:focus {
  background-color: #008fac;
  color: #b5e7eb;
}

.divArticole {
  display: flex;
  gap: 48px;
  padding: 6.5rem 0;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buton {
  cursor: pointer;
  margin-top: 1%;
  text-decoration: none;
  border: none;
  padding: 1.4% 4%;
  font-size: 1.3rem;
  border-radius: 50px;
  color: white;
  background: linear-gradient(
    132deg,
    rgba(0, 177, 178, 1) 22%,
    rgba(0, 140, 186, 1) 75%
  );
}
.buton:hover {
  box-shadow: 0px 15px 20px rgba(4, 132, 157, 0.25);
  transform: scale(1.1);
}

.title-carduri#articoleText {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1110px) {
  .divArticole {
    display: flex;
    gap: 48px;
    padding: 4rem 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .container-testimonial .slide .slider-img {
    margin-right: 0%;
  }
  blockquote {
    margin-right: 14%;
  }
}
@media screen and (max-width: 900px) {
  .slide {
    background-image: none;
  }
  blockquote {
    margin-right: 0%;
  }
  html body .container-testimonial .slide .slider-img {
    margin-right: 0%;
  }
}

/* IMPLEMENTARE ARTICOLE HOMEPAGE 2022 END*/

/*FOOTER*/

footer {
  width: 100%;
  height: 13.5vh;
  background: rgb(0, 144, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 144, 150, 1) 0%,
    rgba(0, 119, 138, 1) 49%,
    rgba(0, 86, 103, 1) 100%
  );

  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}

.academia-icon {
}

.sisc {
}

.logosisc {
  width: 5.5rem;
  height: auto;
}

.logoaca {
  display: flex;
  align-items: center;
  width: 9rem;
  height: auto;
}

.social {
  display: flex;
}

@media screen and (max-width: 800px) {
  .logosisc {
    height: 3rem;
    width: auto;
  }
  .logoaca {
    height: 3rem;
    width: auto;
  }
  .instaaca,
  .fbaca {
    height: 2rem;
    width: auto;
  }
  .social {
    display: flex;
  }
}
/* END FOOTER */
