* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgba(131, 236, 219, 0.822);
  background-size: cover;
}

.container {
  width: 90%;
  margin: 3em auto;
}

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.5px solid #ffffff;
}

.table__header {
  background-color: #ffffff9d;
}

.table__header,
.table__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header__element,
.table__option__element {
  padding: 1em;
  border-left: 0.5px solid #ffffff;

  width: 33%;
  height: 10%;

  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.table__header__element {
  font-size: 20px;
}
.table__option {
  backdrop-filter: blur(5px);
}

.table__option__element {
  font-weight: 400;
}

.table__option:nth-child(2n) {
  background-color: #556d9d5d;
}

.table__option:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.15);
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1a {
  background-color: #982600;
  border: 3px solid rgb(97, 90, 90);
  color: rgb(38, 34, 34);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1a-disable {
  background-color: rgb(168, 168, 168, 0.3);
  border: 3px solid rgb(97, 90, 90, 0.3);
  color: rgb(38, 34, 34, 0.3);
  font-family: inherit;
  font-size: inherit;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: #ffffff;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid black;
  border-width: 1px;
  top: 0;
  left: 0;
  background-color: #6b6b6b;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1e80ef;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2.5px;
  left: 7.5px;
}

.content-table th {
  text-align: center;
}

.btn-1b {
  background-color: rgb(164, 199, 214) !important;
  border: 3px solid rgb(97, 90, 90);
  color: rgb(34, 37, 38);
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1b-disable {
  background-color: rgb(168, 168, 168, 0.3);
  border: 3px solid rgb(97, 90, 90, 0.3);
  color: rgb(38, 34, 34, 0.3);
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
