body {
  background-image: linear-gradient(
      to top,
      rgba(233, 130, 236, 0.6) 16%,
      rgba(173, 86, 204, 0.6) 42%,
      rgba(110, 41, 170, 0.6) 69%
    ),
    url(../../../imagini/formulare/gaming.png);
  background-repeat: repeat;
  background-size: 10%;
}
