*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.body__cauza {
  background-color: #6abec5;
}

::selection {
  background-color: #6abec5;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

/* NAVBAR */
.container {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    rgba(4, 150, 157, 1) 0%,
    rgba(4, 145, 165, 1) 50%,
    rgba(4, 132, 157, 1) 100%
  );
}
.nav {
  max-width: 1450px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-wrapper img {
    width: 150px;
    margin-top: 1rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}
.nav-link {
  margin-top: 3px;
  text-decoration: none;
  color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.3rem;
  font-size: 1.2rem;

  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  border-bottom: 3px solid rgb(221, 221, 221);
}
.nav-link.active:hover {
  border-color: white;
}

.nav .right .hamburger-menu {
  display: none;
}
.nav-list .close-menu {
  display: none;
}

@media screen and (max-width: 1110px) {
  .nav-list {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(4, 149, 157, 1) 0%,
      rgba(4, 146, 165, 1) 50%,
      rgba(4, 132, 157, 1) 100%
    );
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .nav-list.active {
    left: 0;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .nav .right .hamburger-menu {
    display: block;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    z-index: 4;
    cursor: pointer;
  }
  .nav-list .close-menu {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .nav-list.active .close-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .nav-link {
    margin-top: 3px;
    color: white;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
/* NAVBAR END */

/* TITLES */

/* page title */
.title-carduri {
  /* text-align: center;
    font-family: 'Raleway', sans-serif; */
  font-size: 36px;
  -webkit-background-clip: text;
  color: #008cba;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
.title-carduri.outer {
  padding-top: 2rem;
}

/* END TITLES */

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  background-color: #62c4b5;
  -webkit-background-clip: text;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #6abec5, #09829b);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

@media only screen and (max-width: 1500px) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  margin-top: 10rem;

  top: 30%;
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 1500px) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 1500px) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.button {
  display: inline-block;
  padding: 10px 14px;
  margin-top: 10px;
  margin-right: 5px;
  min-width: px;
  background: white;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  border-radius: 100px;
}

/* cards evenimente + cauza */

#particles-js {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: fit-content;
  max-width: 80rem;
  margin: 0 auto;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.card:hover .card__image {
  transform: translateY(-10px);
}
.card:hover .card__thumb::after {
  top: 0;
}
.card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb {
    max-height: 500px;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

@media (min-width: 280px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}

.card__image {
  transition: 0.5s ease-in-out;
}
.card__caption {
  position: absolute;
  /* top: 50%; */
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}

.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;

  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  max-height: auto;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 50px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (min-width: 280px) {
  .card__snippet {
    margin: 60px 0;
  }
}

.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: black;
  background-color: white;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}

/* sfarsit cartonase*/

.modala {
  position: fixed;
  display: none;
  margin-left: 20vw;
  z-index: 2;
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}
.modal-bot {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.butoane-gaming {
  background: #b0e3e7;
  width: max-content;
  height: max-content;
  padding: 9vh 5vw;
  position: relative;
  border-radius: 30px;
  gap: 7vw;
}

.img-gaming {
  width: 110%;
  height: auto;
}
.gaming {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 20vh;
  width: 15vw;
  background-color: #6abec5;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
}
.gaming:hover {
  transform: scale(1.2);
  box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 32px 49px 12px rgba(0, 0, 0, 0.61);
}
@media screen and (max-width: 800px) {
  .modala {
    position: fixed;
    display: none;
    z-index: 2;
    margin-left: 15%;
  }

  .modal-top {
    display: flex;
    justify-content: flex-end;
  }
  .modal-bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .butoane-gaming {
    display: flex;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .img-gaming {
    width: 30vh;
    height: auto;
  }
  .gaming {
    display: flex;
    align-content: center;
    justify-content: center;
    width: max-content;
    background-color: #00b1b2;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 29px 34px 3px rgba(0, 0, 0, 0.7);
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-family: 5rem;
  }
  .modal-content {
    width: 95%;
  }
}

/*FOOTER*/

footer {
  width: 100%;
  height: 13.5vh;
  background: rgb(0, 144, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 144, 150, 1) 0%,
    rgba(0, 119, 138, 1) 49%,
    rgba(0, 86, 103, 1) 100%
  );

  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 5rem;
}

.academia-icon {
  margin-right: 25vw;
}

.sisc {
  margin-right: 25vw;
}

.logosisc {
  width: 5.5rem;
  height: auto;
}

.logoaca {
  display: flex;
  align-items: center;
  width: 9rem;
  height: auto;
}

.social {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .logosisc {
    height: 3rem;
    width: auto;
  }
  .logoaca {
    height: 3rem;
    width: auto;
  }
  .instaaca,
  .fbaca {
    height: 2rem;
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .sisc {
    margin-right: 20vw;
  }

  .academia-icon {
    margin-right: 20vw;
  }
}
/* END FOOTER */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #008fac;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03768d;
}

/* END SCROLLBAR */
* {
  font-family: "Poppins", sans-serif;
}
