/* carduri-evenimente + cauza */
.container-cauza {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cauza {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.img-cauza {
  width: 40vw;
  height: auto;
}
.paragraf-cauza {
  width: 40vw;
  text-align: justify;
}
.cauze-anterioare {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.container-cauze-anterioare {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.container-cartonas {
  background-color: transparent;
  width: 20rem;
  height: 70vh;
  perspective: 1000px;
  border-radius: 2rem;
}
.cartonas {
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.423);
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  color: black;
}
.container-cartonas:hover .cartonas {
  transform: rotateY(180deg);
}
.cartonas-fata,
.cartonas-spate {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cartonas-spate {
  background-color: #fcc8b2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
}
.cartonas-spate p {
  margin: 1rem;
}
.cartonas-fata {
  padding: 0 1rem 1rem 1rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cartonas-fata h2 {
  font-size: 1.3vw;
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 20rem;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.card__button:hover {
  background-color: #fdb08f;
  color: white;
  box-shadow: 13px 23px 28px -6px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 13px 23px 28px -6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 13px 23px 28px -6px rgba(0, 0, 0, 0.61);
  border: none;
}
#image1 {
  background-image: url(../imagini/cauze/cauzaplus1roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image2 {
  background-image: url(../imagini/cauze/cauza2roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image3 {
  background-image: url(../imagini/cauze/cauza3roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image4 {
  background-image: url(../imagini/cauze/cauza4roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image5 {
  background-image: url(../imagini/cauze/cauza5roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image6 {
  background-image: url(../imagini/cauze/cauza6roz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* sfarsit cartonase*/

.titlu {
  font-size: 2rem;
  text-align: center;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: hidden;
  max-height: 100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 50%;
  height: 60%;
  /* Could be more or less, depending on screen size */
  z-index: 10;
  font-size: 16px;
  text-align: justify;
  border-radius: 2rem;
  overflow: scroll;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .modal-content {
    width: 85%;
  }
  .cauza {
    display: flex;
    flex-direction: column;
  }
  .paragraf-cauza {
    width: 40vh;
  }
  .img-cauza {
    width: 40vh;
    height: auto;
  }
  #image1 {
    background-repeat-y: no-repeat;
  }
  .cartonas-fata h2 {
    font-size: 2vh;
  }
  .container-cartonas {
    height: 46vh;
  }
}

.container-info {
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  transition: rotate(40px);
  width: 100%;
  overflow: hidden;
}

.container__image {
  z-index: 99;
  height: 30rem;
  margin: 0px;
  margin-top: 30vh;
  margin-left: -9vh;
  float: left;
  transform: rotate(28deg);
}
