* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
    background: -webkit-linear-gradient(
        right,
        #008cba,
        rgba(253, 253, 254, 0.09)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    letter-spacing: 25px;
    line-height: 3;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 100%;
        letter-spacing: 10px;
    }
    footer {
        width: 100%;
    }
}

@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;

    background-image: linear-gradient(to right, #6abec5, #09829b);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
    .heading-secondary {
        font-size: 2rem;
    }
}

/* NAVBAR */
.container {
    width: 100%;
}
.nav-container {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    background: linear-gradient(
        90deg,
        rgba(4, 150, 157, 1) 0%,
        rgba(4, 145, 165, 1) 50%,
        rgba(4, 132, 157, 1) 100%
    );
}
.nav {
    max-width: 1450px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo-wrapper img {
    width: 150px;
    margin-top:0.9rem;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 1.4rem;
}
.nav-link {
    margin-top: 3px;
    text-decoration: none;
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.3rem;
    font-size: 1.2rem;

    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-link:hover {
    color: #fff;
}

.nav-link.active {
    border-bottom: 3px solid rgb(221, 221, 221);
}
.nav-link.active:hover {
    border-color: white;
}

.nav .right .hamburger-menu {
    display: none;
}
.nav-list .close-menu {
    display: none;
}

@media screen and (max-width: 1110px) {
    .nav-list {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            90deg,
            rgba(4, 149, 157, 1) 0%,
            rgba(4, 146, 165, 1) 50%,
            rgba(4, 132, 157, 1) 100%
        );
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .nav-list.active {
        left: 0;
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s ease;
        overflow: hidden;
    }
    .nav .right .hamburger-menu {
        display: block;
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        z-index: 4;
        cursor: pointer;
    }
    .nav-list .close-menu {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
    .nav-list.active .close-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: white;
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .nav-link {
        margin-top: 3px;
        color: white;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}
/* NAVBAR END */

/* TITLES */

/* page title */
.title-carduri {
    /* text-align: center;
    font-family: 'Raleway', sans-serif; */
    font-size: 36px;
    -webkit-background-clip: text;
    color: #008cba;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.title-carduri.outer {
    padding-top: 2rem;
}

/* END TITLES */

/*FOOTER*/

footer {
    width: 100%;
    height: 13.5vh;
    background: rgb(0, 144, 150);
    background: linear-gradient(
        90deg,
        rgba(0, 144, 150, 1) 0%,
        rgba(0, 119, 138, 1) 49%,
        rgba(0, 86, 103, 1) 100%
    );

    position: relative;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 5rem;
}

.academia-icon {
    margin-right: 25vw;
}

.sisc {
    margin-right: 25vw;
}

.logosisc {
    width: 5.5rem;
    height: auto;
}

.logoaca {
    display: flex;
    align-items: center;
    width: 9rem;
    height: auto;
}

@media screen and (max-width: 800px) {
    .logosisc {
        height: 3rem;
        width: auto;
    }
    .logoaca {
        height: 3rem;
        width: auto;
    }
    .instaaca,
    .fbaca {
        height: 2rem;
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .sisc {
        margin-right: 20vw;
    }

    .academia-icon {
        margin-right: 20vw;
    }
}
/* END FOOTER */

/* Accordion */

.accordion__container {
    gap: 0.2rem;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    margin-left: 0.6rem;
    width: 145vw;
    justify-content:flex-start;
    align-items:center;
    color: black;
}

.accordion__title {
    font-size: medium;
    font-weight: 400;
    transition: 0.2s;
    color: #fff;
}

.accordion__header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
}

.first-accordion-paragraph {
    margin-top: 2rem;
}

.accordion__paragraph {
    padding: 1rem 2rem;
    font-size: medium;
    
}

.accordion__icon {
    font-size: 1rem;
    height: max-content;
    color: #fff;
    transition: 0.3s;
}

.accordion__item {
    height: 90vh;
    background-color:#6abec5;
    background:linear-gradient(90deg, rgba(106,190,197,1) 34%, rgba(3,118,141,1) 100%);
    background: linear-gradient();
    margin: 0 0.05vw;
    border: #63B1DD solid;
    border-radius: 1.5vw;
    flex: 0.05;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: all .5s ease-in-out;
    cursor: pointer;
	overflow:hidden;
    flex-basis: 1vw;
    
}
.accordion__item.active{
    flex: 0.3;
    
}
.accordion__item.active > .accordion__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    

}
.accordion__item.active > .accordion__header{
    display: none;
    
}

.accordion__content {
    display: none;
    background-color: white;
    padding: 2rem;
}

.accordion__photo {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.accordion__photo > img {
    width: 100%;
}
.button-text{
    border:0.2rem solid#6abec5;
    border-radius: 2rem;
    padding: 0.5rem;
}
.button-text:hover{
    transform: scale(1.1);
    transition: 0.7s ;
    box-shadow: 0 12px 25px -5px #6abec5, 0 5px 4px -2px #03768d;
    background-color: #6abec5;
    color: white;
}

.modal-retrospectiva{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0 2rem;
    padding-top: 3vw;
    }
.modal-content {
    background-color:white;
    border: #91c7e6 solid;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    margin: 0 auto; /* 15% from the top and centered */  
    height: 70%;
    overflow: auto;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 1rem;

    }
.close {
    position: relative;
    top:-11%;
    right:1%;
    color:#6abec5;
    float: right;
    padding-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
    z-index :2;
}
       
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }    


@media screen and (max-width: 768px) {
    .accordion__photo > img {
        width: 100%;
    }
    .accordion__container{
        display: flex;
        width:auto;
        height: 135vh;
        margin: 0;
        flex-direction: column;
        justify-content:top;
        align-items: center;
        margin-top:-5rem;
    }
    .accordion__item{
        width: 45vh;
    }
    .accordion__item.active{
        flex: 0.8;
        
    }
    .accordion__content{
        font-size: 1rem;
        padding: 0;
        text-align:justify;
    }
    .accordion__paragraph, h3{
        padding: 0 0.5rem 0 0.5rem;
    }
    .modal-content{
        width: 90%;
    }
}
footer.retrospectivaFooter {
    margin-top: 26.5vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #008fac;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #03768d;
}

/* END SCROLLBAR */
