body {
  background-image: linear-gradient(
      to top,
      rgba(39, 207, 188, 0.6) 16%,
      rgba(41, 203, 144, 0.6) 42%,
      rgba(43, 199, 101, 0.6) 69%
    ),
    url("../../imagini/formulare/fotbal.png");
  background-repeat: repeat;
  background-size: 10%;
}
.form-control {
  color: white !important;
}
