<body>
  <head>
    <link rel="stylesheet" href="logare.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap"rel="stylesheet" /> 
   </head>

  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="./auth.js"></script>
    <div class="poza">
      <img src="../imagini/general/AS_large_white2.png" />
    </div>
    <div id="butonContainer">
      <a class="buton" href="http://localhost:7070/api/auth/google">LOGIN</a>
      <a class="buton" href="http://localhost:7070/admin">ENTER</a>
    </div>

    <script src="admin.js"></script>
  </body>
</body>
