body{
    background: rgb(29,84,95);
    background: linear-gradient(0deg, rgba(29,84,95,1) 0%, rgba(106,190,197,1) 25%);
}

img{
    width: 68vw;
}

#butonContainer{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap:5rem;
}

.poza{
    display: flex;
    justify-content: center;
}

.buton{
    font-family: "Poppins", sans-serif;
    border-style: solid;
    border-radius:30px ;
    border-width:0.5rem ;
    font-size: 4rem;
    text-decoration:none;
    background-color: #1d545f;
    color: aliceblue;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    box-shadow: 20px 22px 15px -3px rgba(0, 0, 0, 0.338);
}

.buton:hover{
    transform: scale(1.05);
    box-shadow: 20px 25px 15px -3px rgba(0, 0, 0, 0.589);
}