@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.bg-image {
  min-height: 100vh;
  background: linear-gradient(
      to right,
      /* rgba(12, 238, 208, 0.5),
      rgba(10, 216, 44, 0.5) */
    ),
    url(../../../imagini/formulare/);
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #09839b;
  color: white;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.message {
  font-size: 2rem;
  text-align: center;
}

a {
  display: inline-block;
  color: rgb(230, 230, 230);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: #1d545f;
  border-radius: 0.5rem;
  text-align: center;
}

a:hover {
  color: white;
}
